<!-->
        <ul>
                <li><a class="active" routerLink="/posts">Inicio</a></li>
                <li><a routerLink="/posts">Artículos</a></li>
                <li><a routerLink="/posts">Entrevistas</a></li>
                <li><a routerLink="/posts">Crónicas</a></li>
                <li><a routerLink="/posts">Fotorreportajes</a></li>
        </ul> 
<-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                                <a class="nav-link" routerLink="">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" routerLink="/posts">Artículos</a>
                        </li>
                        <li *ngFor="let x of tipo" class="nav-item">
                                <a class="nav-link" routerLink="posts/{{x.split(' ')[0]}}">{{titulos[x]}}</a>
                        </li>
                        <!-->
                        <li class="nav-item">
                                <a class="nav-link" routerLink="/entrevistas">Entrevistas</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" routerLink="/actualidad">Actualidad</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" routerLink="/juventud">Juventud cristiana</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" routerLink="/historias">Historias bíblica</a>
                        </li>
                        <-->
                </ul>
                <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar en el blog..." aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><fa-icon [icon]="search"></fa-icon></button>
                </form>
        </div>
</nav>
<!-->
<-->
